{{> header }}

   {{> navbar }}

    <div class="jumbotron">

        <h1 class="display-4">Ecuador, <a href="/about">Mundo</a></h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <div class="col-8">
            <p>
                QUITO
                <br>
                {{ datos1 }}
            </p>
        </div>

        <div class="col-4">
            <p>
                GUAYAQUIL
                <br>
                {{ datos2 }}
            </p>
                
        </div>
        
        
    </div>

{{> footer }}
   